captcha
appdirs==1.4.3
astroid==2.3.3
colorama==0.4.3
distlib==0.3.0
django-widget-tweaks==1.4.8
filelock==3.0.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.4.4
six==1.14.0
wrapt==1.11.2
asgiref==3.2.7
construct==2.5.3
Django==3.0.12
django-bootstrap==0.2.4
django-haystack==3.0b1
future==0.18.2
haystack==0.42
jieba==0.42.1
pefile==2019.4.18
python-ptrace==0.9.5
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
Whoosh==2.7.4
xapian-haystack==2.1.1
furl==2.1.0
oauth2-provider==0.0
django-cors-middleware==1.5.0
django-oauth-toolkit==1.3.2
django-openid-auth==0.15
