{% extends 'discussion/base_discussion.html' %}
{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
    <div class="container">
    <p class="lead">标签 {{ tag.name }} 有 {{ questions.count }} 个问题：</p>
    <table class="table">
    <tr>
        <th>Question</th>
        <th>Votes</th>
        <th>Answers</th>
        <th>Views</th>
    </tr>
    {% for question in questions %}
        <tr>
            <td>
                <a href="{% url 'discuss:question_details' question.id %}">{{ question.title }}</a>
            </td>
            <td>{{ question.votes }}</td>
            <td>{{ question.answers.count }}</td>
            <td>{{ question.views }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}