body {
    background: url(../img/img1.png);
    background-size: 100%;
  }

.card {
    width: 500px;
    opacity: 75%;
    transition: all 1s;
}

.card:hover {
    transition: all 1s;
    opacity: 100%;
}

.search-box{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #f8f9fa;
        height: 60px;
        border-radius: 40px;
        padding: 10px;}
.search-box:hover>.search-txt{
        color: #6c757d;
        width: 150px;    padding: 0 6px;}
.search-box:hover>.search-btn{
        background: white;}
.search-btn{
            color: #007bff;
            float:right ;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;}

.search-txt {
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: white;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px;
}
