<!DOCTYPE html>
<html lang="ch">
    <head>
        <meta charset="UTF-8">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <title>搜索</title>
    </head>
    <body>
        <li>
            <form action="{% url 'search:haystack_search' %}" method="get">
                <input type="text" name="q" placeholder="请输入关键字">
                <input type="submit" id="search" value="搜索">
            </form>
        </li>
        <p>
            <a href="{% url 'search:feedback' %} ">提交反馈</a>
        </p>
    </body>
</html>
