{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}反馈{% endblock %}

{% block content %}
    <h3>反馈</h3>
    <form method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
        </div>
        {% endfor %}

        <div class="form-group">
          <button type="submit" class="btn btn-success">提交</button>
          <a href="{% url 'search:index' %}" class="btn btn-light">取消</a>
        </div>
    </form>
{% endblock content %}
