{% extends 'search/base_search.html' %}
{%  load static %}
{% block title %}搜索{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row justify-content-center" style="margin-top: 150px">
      <div class="card">
        <div class="card-body">
        <form  action="{% url 'search:haystack_search' %}" method="get">
        <div class="row justify-content-center" style="margin: 40px">
            <div class="search-box">
            <input class="search-txt" type="text" name="q" placeholder="请输入关键字">
            <button class="search-btn">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
            </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <div class="form-group">
             <label for="institute">开课学院：</label>
             <select class="form-control" name="institute" id="institute">
                <option value ="请选择">请选择</option>
                {#{% for institute in institutes %}  #}
                 {#<option value ={{ institute }}>{{ institute }}</option>#}
                    {# {% endfor %}#}
                <option value ="电子信息与电气工程学院">电子信息与电气工程学院</option>
                <option value ="机械与动力工程学院">机械与动力工程学院</option>
                <option value ="生物医学工程学院">生物医学工程学院</option>
                <option value ="船舶海洋与建筑工程学院">船舶海洋与建筑工程学院</option>
                <option value ="材料科学工程学院">材料科学与工程学院</option>
            </select>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
             <label for="year">开课学年：</label>
             <select class="form-control" name="year" id="year">
                <option value ="请选择">请选择</option>
                {#{% for institute in institutes %}  #}
                 {#<option value ={{ institute }}>{{ institute }}</option>#}
                    {# {% endfor %}#}
                <option value ="2019-2020-1">2019-2020-1</option>
                <option value ="2019-2020-2">2019-2020-2</option>
                <option value ="2019-2020-3">2019-2020-3</option>
            </select>
            </div>
            </div>
        </div>
        </form>

         没有要找的课程？<a href="{% url 'search:feedback' %} ">点击这里</a>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
