{% extends 'search/base_search.html' %}

{% block title %}搜索{% endblock %}

{% block content %}
        <form action="{% url 'search:haystack_search' %}" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <input  class="form-control" type="text" name="q" placeholder="请输入关键字">
                    </div>
                    <div class="col-4">
                        <input class="btn btn-light" type="submit" id="search" value="搜索">
                    </div>
                </div>
            </div>

        </form>

    <a href="{% url 'search:feedback' %} ">提交反馈</a>

{% endblock %}
