{% extends 'base.html' %}
{% load static %}
{% block title %}CourseDiscussion - 主页{% endblock %}

{% block nav-item %}
    <li class="nav-item ">
        <a class="nav-link active" href="{% url 'home:homepage' %}">主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'search:index' %}">课程</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'discuss:index' %}">问答</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:personalpage' %}">个人主页</a>
    </li>
{% endblock %}

{% block content %}
{% endblock %}